In [5]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine
import os
from dotenv import load_dotenv

In [6]:
load_dotenv()

True

In [7]:
DB_HOST = os.getenv('DB_HOST')
DB_USER = os.getenv('DB_USER')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_NAME = os.getenv('DB_NAME')

In [8]:
DATABASE_URI = f'mysql+mysqlconnector://{DB_USER}:{DB_PASSWORD}@{DB_HOST}/{DB_NAME}'
engine = create_engine(DATABASE_URI)

In [9]:
tours_query = "SELECT * FROM tours;"
tour_options_query = "SELECT * FROM tour_options;"
itineraries_query = "SELECT * FROM itineraries;"
locations_visited_query = "SELECT * FROM locations_visited;"
options_query = "SELECT * FROM options;"
departures_query = "SELECT * FROM departures;"

In [10]:
tours_df = pd.read_sql(tours_query, engine)
tour_options_df = pd.read_sql(tour_options_query, engine)
itineraries_df = pd.read_sql(itineraries_query, engine)
locations_visited_df = pd.read_sql(locations_visited_query, engine)
options_df = pd.read_sql(options_query, engine)
departures_df = pd.read_sql(departures_query, engine)

In [12]:
tours_df

,id,productType,source,name,brand,brandName,brandCode,slug,depositAmount,activityLevel,reviewsRating,reviewsTotal,reviewsSource,lowestOptionRoomType,lowestOptionPrice,lowestOptionFullPrice,fkSeasonId,fkTourOptionId,created_at,updated_at
0,tour-00bfa641-58d2-40cc-a818-0796b344dd19,connection_tour,ttc,Ultimate Ireland,luxurygold,Luxury Gold,luxurygold,ultimate-ireland,500.0,None,0.0,0,luxuryescapes,twin,7325.0,7325.0,f66abe10-362c-4bec-96c2-72658a4b3154,eb1e3c5a-595a-4fc1-b402-7a2df91221e9,2023-09-25 11:50:24,2023-09-25 11:50:24
1,tour-01ad08bd-8b08-4d54-a46e-f515d491f9af,connection_tour,ttc,Country Roads of Southern Italy & Sicily,insightvacations,Insight Vacations,insightvacations,country-roads-of-southern-italy-and-sicily,500.0,None,0.0,0,luxuryescapes,twin,5197.0,5197.0,68e465ce-0c29-44b1-aaa2-8855b3e82607,a85ecb2e-cb2b-48f0-a66b-1ec8e491d73e,2023-09-25 11:50:27,2023-09-25 11:50:27
2,tour-0364e31f-a6f9-413b-8f2e-cd2e264eb3ee,connection_tour,ttc,Canada's Rockies,trafalgar,Trafalgar,trafalgar,canadas-rockies,500.0,None,10.0,2,le_tour_operator,twin,2565.0,2850.0,560cf11f-4bf9-4f07-a16a-e2bbab01314f,7f1521c7-4bc3-4555-b447-1a9823d29b16,2023-09-25 11:50:25,2023-09-25 11:50:25
3,tour-03fb1d9a-ab44-4e04-9c7e-6589adeb6f1a,connection_tour,ttc,Treasures of Spain and Portugal,trafalgar,Trafalgar,trafalgar,treasures-of-spain-and-portugal,500.0,None,10.0,2,le_tour_operator,twin,3397.5,3775.0,beede9fc-8665-48b8-8e41-afa775c2261b,06f1066b-142e-435e-b9ec-a2066923809f,2023-09-25 11:50:27,2023-09-25 11:50:27
4,tour-045e09d3-ad22-4bc9-ab2b-5849b8e781d0,connection_tour,ttc,Country Roads of Northern Italy,insightvacations,Insight Vacations,insightvacations,country-roads-of-northern-italy,500.0,None,0.0,0,luxuryescapes,twin,3105.0,3450.0,821fcfd7-430f-4900-808b-fd6b071700e2,9e4ffccb-92e2-464e-895b-ca1d2ca34593,2023-09-25 11:50:25,2023-09-25 11:50:25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412,tour-fee90207-0637-44f9-a023-7cb7b4dc205f,partner_tour,salesforce,Victoria: Daylesford & Goldfields 2024 Small-G...,letrustedpartnertours,Luxury Escapes Trusted Partner Tours,letrustedpartnertours,victoria-daylesford-and-goldfields-2024-small-...,0.0,active,7.0,4,le_tour_operator,twin,1439.4,1439.4,a27ee838-e738-4924-a2ab-b588351d01ce,dbdabec9-a5b5-443b-9f32-2bca2c4fb7fc,2023-09-25 11:50:19,2023-09-25 11:50:19
413,tour-ff0cad2e-1d45-45b4-9700-fc913046a3aa,partner_tour,salesforce,Italy Gourmet Immersion 2024 with Chianti & Ba...,letrustedpartnertours,Luxury Escapes Trusted Partner Tours,letrustedpartnertours,italy-gourmet-immersion-2024-with-chianti-and-...,0.2,moderate,7.0,4,le_tour_operator,twin,3599.4,3599.4,1cef480d-dff8-44cb-a95a-14395430a373,f2faee3f-7cac-4290-a1cd-026b4e758c10,2023-09-25 11:50:19,2023-09-25 11:50:19
414,tour-ff22b416-40a6-4969-a00c-02879ec69e20,connection_tour,ttc,"Normandy, Brittany & The Loire Valley",insightvacations,Insight Vacations,insightvacations,normandy-brittany-and-the-loire-valley,500.0,relaxed,0.0,0,luxuryescapes,twin,2995.0,2995.0,8caa8e06-f59d-4f13-9ee7-4564b7e4bc60,e8b27a45-0cda-44b1-84bb-478d2e5bb6c2,2023-09-25 11:50:24,2023-09-25 11:50:24
415,tour-ff534599-5d37-473a-9d26-243f3e949c59,connection_tour,ttc,Spain & Portugal in Style,luxurygold,Luxury Gold,luxurygold,spain-and-portugal-in-style,500.0,None,0.0,0,luxuryescapes,twin,6595.0,6595.0,7f08654a-b173-42b9-b697-897fecde00a7,f7289a2b-e4bf-48fb-a7ba-bc7b3bfc9ad7,2023-09-25 11:50:21,2023-09-25 11:50:21
416,tour-ffdd0f85-4ee2-4c5e-bd76-16d9dc673626,connection_tour,ttc,Welcome to Colorado,trafalgar,Trafalgar,trafalgar,welcome-to-colorado,500.0,None,10.0,2,le_tour_operator,twin,3847.5,4275.0,d22775c8-5a65-4702-bc8c-a85a880fb287,bca088ad-4816-4ab4-a0d4-3da7f470613c,2023-09-25 11:50:20,2023-09-25 11:50:20

In [13]:
tour_options_df

,id,tour_id,sourceTourOptionName,isPrivateRequest,slug,maxPax,name,description,travelInclusions,diningInclusions,...,startLocationLatitude,endLocationName,endLocationCountryCode,endLocationLongitude,endLocationLatitude,countries_visited,minChildPriceAge,maxChildPriceAge,created_at,updated_at
0,0044857c-35c9-45f4-97b8-75e7eb7e90f6,tour-50422032-fd11-4b38-9334-09b67d61270c,None,0,None,NaN,Majestic Alaska,A wild escape brings your dream of Alaska to l...,"Must-see Highlights\n- Explore Valdez, Seward,...",Whats Included\n- An expert Travel Director an...,...,NaN,Anchorage,None,NaN,NaN,United States,5,17,2023-09-25 11:50:23,2023-09-25 11:50:23
1,0085cc11-4ee8-4e13-9c07-0e9280376a55,tour-b75b1cb9-82b6-4626-aa9d-0de564473644,None,0,None,NaN,South America Landscapes with Brazilian Amazon,You’ll discover why so many fall in love with ...,Sightseeing Highlights\n- Discover how locals ...,Dining Highlights\n- 1 Be My Guest\n- 1 Farewe...,...,NaN,Manaus,None,NaN,NaN,"Chile, Argentina, Brazil",5,17,2023-09-25 11:50:27,2023-09-25 11:50:27
2,00a948ee-d3f5-4709-a148-b0b06b656227,tour-4c051a6b-1146-4690-a6c3-0028da870307,None,0,None,NaN,Highlights of Peru,You’re in for an adventure on this tour of Per...,Iconic Experience\n- Lima: Take in the highlig...,Whats Included\n- An expert Travel Director an...,...,-12.103224,Lima,PE,-76.837357,-12.103224,Peru,5,17,2023-09-25 11:50:21,2023-09-25 11:50:21
3,00c60fd3-9854-4bc2-a95f-20b9fe86ce97,tour-b652f8ee-49ae-476a-b247-f617d4d64d19,None,0,None,NaN,Wonders of Patagonia with Easter Island,You’ll feel like a local travelling from flamb...,Sightseeing Highlights\n- Explore Buenos Aires...,First class travel Highlights\n- An expert Tra...,...,-34.714705,Easter Island,CL,-109.351021,-27.124035,"Argentina, Chile",5,17,2023-09-25 11:50:27,2023-09-25 11:50:27
4,01cb2392-0dcf-48b8-807d-9482142a48be,tour-dae273c5-4cd5-4281-b601-33246ca6edf2,None,0,None,NaN,"Israel Discovery - Small Group, Winter",See some of the world's most sacred sites duri...,,,...,32.077214,Tel Aviv,IL,34.817608,32.077214,Israel,5,17,2023-09-25 11:50:23,2023-09-25 11:50:23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
768,ff076a4f-af6f-4ce8-8cef-1ae5ffeaf2b6,tour-82d0fec8-1161-4475-b811-6ed2f8220ef3,Base-Regular,0,new-zealand-south-island-small-group-coach-tou...,24.0,New Zealand South Island Fully-Guided Tour wit...,A whole world of natural wonder beckons on New...,"Discover the hidden, wild beauty of Doubtful S...",,...,-43.520455,Christchurch,NZ,172.600621,-43.520455,New Zealand,18,15,2023-09-25 11:50:19,2023-09-25 11:50:19
769,ff209a35-7165-48d6-a556-aa5660fd93a6,tour-81190a7f-d6af-4fae-8653-267dd6f11acd,None,0,None,NaN,Focus on Ireland - Small Group,From the dizzying 700-foot-high Cliffs of Mohe...,Additional Included Highlights\n- Our highly-s...,Authentic Dining\n- Dublin: Join your Travel D...,...,53.339595,Dublin,IE,-6.261648,53.339595,Ireland,5,17,2023-09-25 11:50:25,2023-09-25 11:50:25
770,ffb74ece-5f40-4426-8e6f-1045d6ad5ed6,tour-b36e8c6f-74a4-4377-bf5e-9f449d464ac2,None,0,None,NaN,"Best of Italy - Small Group, Winter",Explore the best of Italy on this 11-day guide...,,,...,41.834247,Rome,IT,12.517842,41.834247,"Italy, Vatican City",5,17,2023-09-25 11:50:23,2023-09-25 11:50:23
771,ffe8af28-1f4b-4c4e-a6f6-47c2a369f4f2,tour-3ca55a51-f7a9-4647-92ab-a12418d53a0b,None,0,None,NaN,Impressions of South America,From the vibrant shores of Ipanema to the thun...,Sightseeing Highlights\n- Explore Rio de Janei...,Dining Highlights\n- 1 Be My Guest\n- 1 Dinner...,...,NaN,Buenos Aires,None,NaN,NaN,"Brazil, Argentina",5,17,2023-09-25 11:50:22,2023-09-25 11:50:22
772,fffbe628-ba84-4d9a-99c6-d2c44edf3a52,tour-7b0b740b-fb16-4fbd-848b-9726a727d5d1,None,0,None,NaN,London Explorer,History comes alive on this most epic of Londo...,MAKE TRAVEL MATTER®\n- London: Let your palate...,Whats Included\n- An expert Travel Director an...,...,51.512853,London,GB,-0.107195,51.512853,United Kingdom,5,17,2023-09-25 11:50:21,2023-09-25 11:50:21

In [14]:
itineraries_df

,id,tour_id,tour_option_id,title,description,startDay,duration,accommodation,meals,created_at,updated_at
0,1,tour-c6876018-bc87-49e4-9e6b-dbe099ad2a77,b788e686-338d-4ce2-8066-01eabba67a02,"Arrive Hanoi, Vietnam",Welcome to Hanoi! Upon arrival at Noi Bai Inte...,1,1,La Jardin Hotel Haute Couture (Deluxe Classic ...,,2023-09-25 11:50:18,2023-09-25 11:50:18
1,2,tour-c6876018-bc87-49e4-9e6b-dbe099ad2a77,b788e686-338d-4ce2-8066-01eabba67a02,Hanoi – Ha Long Bay,Rise and shine early today — you're headed for...,2,1,Paradise Sails (Deluxe Cabin) or similar,"Breakfast, Lunch, Dinner",2023-09-25 11:50:18,2023-09-25 11:50:18
2,3,tour-c6876018-bc87-49e4-9e6b-dbe099ad2a77,b788e686-338d-4ce2-8066-01eabba67a02,Hoi An,"After breakfast, you’ll have another full day ...",6,1,Shining Riverside Hoi An Boutique and Spa (Del...,Breakfast,2023-09-25 11:50:18,2023-09-25 11:50:18
3,4,tour-c6876018-bc87-49e4-9e6b-dbe099ad2a77,b788e686-338d-4ce2-8066-01eabba67a02,"Ho Chi Minh City – Phnom Penh, Cambodia","Your time in Vietnam has come to an end today,...",10,1,Sensory Park Urban Hotel (Standard Room) or si...,Breakfast,2023-09-25 11:50:18,2023-09-25 11:50:18
4,5,tour-c6876018-bc87-49e4-9e6b-dbe099ad2a77,b788e686-338d-4ce2-8066-01eabba67a02,Ha Long Bay – Hanoi,Enjoy dawn tai chi with complimentary tea and ...,3,1,La Jardin Hotel Haute Couture (Deluxe Classic ...,"Breakfast, Lunch",2023-09-25 11:50:18,2023-09-25 11:50:18
...,...,...,...,...,...,...,...,...,...,...,...
8932,8933,tour-171df543-de65-4733-b863-c7a3cfae7b45,b9d8a3df-b867-4f6d-bea5-8ebd280f5d61,Explore Alpine Innsbruck,"This morning, you'll embark on a short orienta...",9,1,Tivoli Innsbruck,Breakfast,2023-09-25 11:50:27,2023-09-25 11:50:27
8933,8934,tour-171df543-de65-4733-b863-c7a3cfae7b45,b9d8a3df-b867-4f6d-bea5-8ebd280f5d61,Through the Wachau Valley to Vienna Stays With...,Scenic landscapes provide a beautiful backdrop...,11,1,"Hilton Danube Waterfront, Imperial Riding School",Breakfast,2023-09-25 11:50:27,2023-09-25 11:50:27
8934,8935,tour-171df543-de65-4733-b863-c7a3cfae7b45,b9d8a3df-b867-4f6d-bea5-8ebd280f5d61,Uncover Berlin’s Secrets,Ascend the Berlin TV Tower for spectacular 360...,4,1,Mercure MOA,Breakfast,2023-09-25 11:50:27,2023-09-25 11:50:27
8935,8936,tour-171df543-de65-4733-b863-c7a3cfae7b45,b9d8a3df-b867-4f6d-bea5-8ebd280f5d61,Venture to Salzburg,Travel to Salzburg where spires and domes rise...,10,1,Austria Trend Europa,"Breakfast, Dinner",2023-09-25 11:50:27,2023-09-25 11:50:27
8936,8937,tour-171df543-de65-4733-b863-c7a3cfae7b45,b9d8a3df-b867-4f6d-bea5-8ebd280f5d61,Hofburg Palace and More in Vienna,Explore the splendor of Vienna at the exquisit...,12,1,"Hilton Danube Waterfront, Imperial Riding School","Breakfast, Dinner",2023-09-25 11:50:27,2023-09-25 11:50:27

In [15]:
locations_visited_df

,id,tour_id,itinerary_id,name,countryCode,longitude,latitude,created_at,updated_at
0,1,tour-c6876018-bc87-49e4-9e6b-dbe099ad2a77,1,Hanoi,VN,105.699772,20.998488,2023-09-25 11:50:18,2023-09-25 11:50:18
1,2,tour-c6876018-bc87-49e4-9e6b-dbe099ad2a77,2,Hanoi,VN,105.699772,20.998488,2023-09-25 11:50:18,2023-09-25 11:50:18
2,3,tour-c6876018-bc87-49e4-9e6b-dbe099ad2a77,2,Ha Long Bay,VN,107.051479,20.824062,2023-09-25 11:50:18,2023-09-25 11:50:18
3,4,tour-c6876018-bc87-49e4-9e6b-dbe099ad2a77,3,Hanoi,VN,105.699772,20.998488,2023-09-25 11:50:18,2023-09-25 11:50:18
4,5,tour-c6876018-bc87-49e4-9e6b-dbe099ad2a77,4,Ho Chi Minh City,VN,106.713355,10.743635,2023-09-25 11:50:18,2023-09-25 11:50:18
...,...,...,...,...,...,...,...,...,...
16560,16561,tour-171df543-de65-4733-b863-c7a3cfae7b45,8934,Salzburg,AT,13.046118,47.797631,2023-09-25 11:50:27,2023-09-25 11:50:27
16561,16562,tour-171df543-de65-4733-b863-c7a3cfae7b45,8935,Berlin,DE,13.236281,52.436959,2023-09-25 11:50:27,2023-09-25 11:50:27
16562,16563,tour-171df543-de65-4733-b863-c7a3cfae7b45,8936,Innsbruck,AT,11.380083,47.289626,2023-09-25 11:50:27,2023-09-25 11:50:27
16563,16564,tour-171df543-de65-4733-b863-c7a3cfae7b45,8936,Salzburg,AT,13.046118,47.797631,2023-09-25 11:50:27,2023-09-25 11:50:27
16564,16565,tour-171df543-de65-4733-b863-c7a3cfae7b45,8937,Vienna,AT,16.389599,48.200644,2023-09-25 11:50:27,2023-09-25 11:50:27

In [16]:
options_df

,id,tour_id,roomType,price,fullPrice,fkRoomTypePricingId,fkDepartureId,fkSeasonId,fkTourOptionId,fkTourId,created_at,updated_at
0,1,tour-c6876018-bc87-49e4-9e6b-dbe099ad2a77,twin,1079.4,1079.4,6408a116-c2fa-428b-9c1c-4706203d0ace,597755e7-4b04-495e-a35c-650997814b7d,e7fa66d1-0051-49aa-890e-cdbf9ee43500,b788e686-338d-4ce2-8066-01eabba67a02,tour-c6876018-bc87-49e4-9e6b-dbe099ad2a77,2023-09-25 11:50:18,2023-09-25 11:50:18
1,2,tour-c6876018-bc87-49e4-9e6b-dbe099ad2a77,single,1679.4,1679.4,1aab9cde-5215-4ea9-b5c7-5114615a348b,597755e7-4b04-495e-a35c-650997814b7d,e7fa66d1-0051-49aa-890e-cdbf9ee43500,b788e686-338d-4ce2-8066-01eabba67a02,tour-c6876018-bc87-49e4-9e6b-dbe099ad2a77,2023-09-25 11:50:18,2023-09-25 11:50:18
2,3,tour-c6876018-bc87-49e4-9e6b-dbe099ad2a77,single,1679.4,1679.4,860df9c5-a539-41af-b006-0e716afb8e76,39adf251-7844-4218-8d71-13fdf9a733c4,e7fa66d1-0051-49aa-890e-cdbf9ee43500,b788e686-338d-4ce2-8066-01eabba67a02,tour-c6876018-bc87-49e4-9e6b-dbe099ad2a77,2023-09-25 11:50:18,2023-09-25 11:50:18
3,4,tour-c6876018-bc87-49e4-9e6b-dbe099ad2a77,twin,1079.4,1079.4,5be8287f-d0ae-4d74-9d07-9fea6c96ee0b,39adf251-7844-4218-8d71-13fdf9a733c4,e7fa66d1-0051-49aa-890e-cdbf9ee43500,b788e686-338d-4ce2-8066-01eabba67a02,tour-c6876018-bc87-49e4-9e6b-dbe099ad2a77,2023-09-25 11:50:18,2023-09-25 11:50:18
4,5,tour-c6876018-bc87-49e4-9e6b-dbe099ad2a77,single,1679.4,1679.4,0d4b147c-8e28-4645-b659-b71f7a27f2a8,961e39b1-52ae-496b-a25a-263144e312c4,e7fa66d1-0051-49aa-890e-cdbf9ee43500,b788e686-338d-4ce2-8066-01eabba67a02,tour-c6876018-bc87-49e4-9e6b-dbe099ad2a77,2023-09-25 11:50:18,2023-09-25 11:50:18
...,...,...,...,...,...,...,...,...,...,...,...,...
49588,49589,tour-171df543-de65-4733-b863-c7a3cfae7b45,twin,4023.0,4470.0,800f2d02-6c3a-4957-8e28-b28ac3eb5663,ff2e7fb6-cea3-41bd-b8f9-673239552f35,c0b1599e-0d41-4214-97ea-230c3994efa1,b9d8a3df-b867-4f6d-bea5-8ebd280f5d61,tour-171df543-de65-4733-b863-c7a3cfae7b45,2023-09-25 11:50:27,2023-09-25 11:50:27
49589,49590,tour-171df543-de65-4733-b863-c7a3cfae7b45,triple,4012.2,4458.0,e116f3e4-0387-4939-8e0a-82737e7d48af,4a6f1733-38a6-44ef-bcdc-8abf889ac2d1,c0b1599e-0d41-4214-97ea-230c3994efa1,b9d8a3df-b867-4f6d-bea5-8ebd280f5d61,tour-171df543-de65-4733-b863-c7a3cfae7b45,2023-09-25 11:50:27,2023-09-25 11:50:27
49590,49591,tour-171df543-de65-4733-b863-c7a3cfae7b45,twin,4023.0,4470.0,bc3d49f7-db13-4bb1-9892-9b73ff960e44,4a6f1733-38a6-44ef-bcdc-8abf889ac2d1,c0b1599e-0d41-4214-97ea-230c3994efa1,b9d8a3df-b867-4f6d-bea5-8ebd280f5d61,tour-171df543-de65-4733-b863-c7a3cfae7b45,2023-09-25 11:50:27,2023-09-25 11:50:27
49591,49592,tour-171df543-de65-4733-b863-c7a3cfae7b45,twinShare,4023.0,4470.0,a156eaaf-4e28-40b4-a7da-f610b23040fc,4a6f1733-38a6-44ef-bcdc-8abf889ac2d1,c0b1599e-0d41-4214-97ea-230c3994efa1,b9d8a3df-b867-4f6d-bea5-8ebd280f5d61,tour-171df543-de65-4733-b863-c7a3cfae7b45,2023-09-25 11:50:27,2023-09-25 11:50:27
49592,49593,tour-171df543-de65-4733-b863-c7a3cfae7b45,single,5306.0,5753.0,c6a5a03f-8e4c-4754-b005-4deace12d3f8,4a6f1733-38a6-44ef-bcdc-8abf889ac2d1,c0b1599e-0d41-4214-97ea-230c3994efa1,b9d8a3df-b867-4f6d-bea5-8ebd280f5d61,tour-171df543-de65-4733-b863-c7a3cfae7b45,2023-09-25 11:50:27,2023-09-25 11:50:27

In [17]:
departures_df

,id,fkSeasonId,fkTourOptionId,startDate,endDate,availability,created_at,updated_at
0,0004f240-509d-44f9-b11b-d8073c27afda,f154feeb-a55e-4506-8028-ca98aaac4824,9e4d31f2-ad41-4d6d-873f-d8f169a2c368,2025-09-06,2025-09-14,available,2023-09-25 11:50:21,2023-09-25 11:50:21
1,00056fc0-99e2-45e6-90a7-4ce6246a6eb6,612219fb-e6ad-4917-bbe7-ae9c910cc005,bfc71585-7ee7-45ac-acb4-964fc5a9ac39,2023-12-18,2023-12-26,available,2023-09-25 11:50:25,2023-09-25 11:50:25
2,000c7ae0-9477-45d8-837b-cb5fde089f08,136c7b8f-35e8-4d39-98b4-6e94a688364f,d4fd4fdf-4cb9-4c38-84ca-8e5cc82d0494,2024-08-31,2024-09-13,available,2023-09-25 11:50:18,2023-09-25 11:50:18
3,001243e9-05c9-4253-a216-970efb5af371,42f89d56-7d21-4ef9-af90-30f756ce6d14,4a84d968-11f0-4153-8d3c-8a4b409031e6,2024-01-07,2024-01-18,available,2023-09-25 11:50:25,2023-09-25 11:50:25
4,0016b268-72a9-4157-9c8f-55a989e8464c,b656e118-82a1-4826-a571-7f06c92576d7,67c15f9c-8a45-4ddd-b8ab-b798a9dd67e1,2024-06-13,2024-06-22,hidden,2023-09-25 11:50:18,2023-09-25 11:50:18
...,...,...,...,...,...,...,...,...
15883,ffe55e72-66cc-4467-94c4-a4e1ed296705,4d2520ac-5a8d-4a27-a379-a0dfabfa3aa8,b6d71cf4-2881-4304-8229-4cd0a9114c59,2024-06-30,2024-07-13,available,2023-09-25 11:50:26,2023-09-25 11:50:26
15884,ffe58ae1-40ba-40c3-a364-d12a84eb72e3,aa2beaf2-604d-4e85-8262-0b5551fa29cc,4ba4e872-e4b5-4f14-b480-b9dbc83521cf,2025-09-18,2025-10-02,available,2023-09-25 11:50:20,2023-09-25 11:50:20
15885,ffe8fd9c-4b87-4c52-b75e-078e8041adc5,cc3c370d-ffa0-427d-954e-3da3b2379d23,c651e347-0313-408c-bb41-a3531096e196,2024-04-26,2024-05-05,unavailable,2023-09-25 11:50:20,2023-09-25 11:50:20
15886,fff2a284-b366-40d2-b37a-1cdd0cde704c,3f6cd1d4-eee4-4c39-8c97-ee20560c9546,52cb04b4-3566-4f0c-a220-6e5e9d1cd496,2024-06-07,2024-06-17,available,2023-09-25 11:50:26,2023-09-25 11:50:26
15887,fffaa6a2-1841-4025-8503-85d0b2363913,481b691e-5770-406c-b265-62c29c8b4e13,f9a868c4-a1bd-4014-8083-499237378af2,2024-09-27,2024-10-04,available,2023-09-25 11:50:20,2023-09-25 11:50:20

In [18]:
dataframes = {
    "tours": tours_df,
    "tour_options": tour_options_df,
    "itineraries": itineraries_df,
    "locations_visited": locations_visited_df,
    "options": options_df,
    "departures": departures_df,
}

In [1]:
directory = "../../data/processed"

In [20]:
for name, df in dataframes.items():
    file_path = os.path.join(directory, f"{name}.csv")
    df.to_csv(file_path, index=False)